:root {
    --padrao: silver;
    --padrao-escuro: #333;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 0 1.5em;
    text-transform: uppercase;
    color: var(--padrao);
}

p {
    text-align: justify;
}

a:hover {
    color: var(--padrao-escuro);
}

li {
    list-style-type: none;
}

.container {
    width: 70%;
    margin: 5% auto;
}

/*************HEADER*******************/
.container-header {
    display: flex;
    margin-bottom: 5em;
}

.header-div-1 h1 {
    font-size: 33px;
    margin: 0;
    font-weight: 400;
}

.header-div-1 a {
    color: var(--padrao-escuro);
    padding-left: 0;
}

.header-div-1 a:hover {
    color: #bf3a30;
}

.header-div-2 {
    flex-grow: 2;
}

.header-div-2 ul {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    line-height: 2;
}

/****************FOOTER******************/

.footer {
    padding: 4em 0;
}

i {
    color: var(--padrao-escuro);
    font-size: 1.5em;
    transition: .3s;
}

i:hover {
    transition: 0.3s;
    color: var(--padrao);
}

.list-footer {
    display: flex;
    justify-content: center;
}

.list-footer a {
    padding: .5em;
}

/* PÁGINA INDEX - GRID DE IMAGENS*/

.container-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
}

.grid img {
    max-width: 100%;
    width: 300px;
    height: 300px;

}

.container-grid p {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--padrao);
}

.grid {
    transition: .5s;
}

.grid:hover {
    transition: .5s;
    transform: scale(1.05);
    cursor: pointer;
    filter: opacity(80%);
}

/**************BLOG**************/

.container-blog {
    display: grid;
    margin-bottom: 3em;
    grid-template-columns: 250px auto;
}

.container-blog:hover {
    cursor: pointer;
    color: #bf3a30;
}

.container-blog:hover .blog-text {
    color: #bf3a30;
}



.container-blog h2 {
    margin: 1em 0 0 0;
}

.container-blog-section-1 {
    padding-left: 5px;
}

.date,
.blog-text {
    margin: 0;
    font-size: 14px;
    color: var(--padrao);
}

.blog-text {
    padding-top: 15px;
}


/**********ABOUT**********/

.container-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
}

.container-text-about h3 {
    text-align: center;
    color: var(--padrao-escuro);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.container-about p {
    font-size: 14px;
    color: var(--padrao-escuro);
    line-height: 1.7;
    text-indent: 2em;
    text-align: justify;
}



/***************responsividade******************/

@media (max-width: 1100px) {

    /*header*/
    .container-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-div-2 {
        display: none;
    }

    .header-div-1 h1 {
        font-size: 4em;
    }

    .header-div-1 a {
        padding: 0;
    }

    /*grid*/
    .container-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .grid img {
        max-width: 100%;
        width: 500px;
        height: 500px;
    }

    .container-about {
        display: block;
    }

    .container-about img {
        display: none;
    }

    .list-footer {
        padding: 0;
    }

    i {
        font-size: 1em;
    }

}

@media (max-width: 750px) {
    .container-blog {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}

@media (max-width: 650px) {
    .header-div-1 h1 {
        font-size: 3em;
    }

    .grid img {
        max-width: 100%;
        width: 300px;
        height: 300px;
    }
}